@{
    ViewData["Title"] = "Joke Application - HHome Page";
}

<div class="text-center">
    <h1 class="display-4">Joke Application</h1>
    <p>The foremost authority for good humor that you will find anywhere on your local host.</p>
    <p></p>
    <p></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
